<% include ../partials/header.ejs%>

    <!--Navbar-->
    <% include ../partials/navbar.ejs%>
        <!--/.Navbar-->

        <!-- Start your project here-->
        <% blogs.forEach(function(blog){ %>
            <div class="container-fluid">
                <div class="card myCardSize mx-auto">
                    <!-- Testing empty image object using regex width="320" height="240"-->

                    <% var regexVid=RegExp(/(.mp4|.avi|.flv|.wmv|.mov|.MP4|.AVI|.FLV|.WMV|.MOV)/); %>
                        <% var regexPng=RegExp(/(.jpg|.png|.gif|.JPG|.PNG|.GIF)/); %>

                            <!-- Card image -->
                            <% if (regexPng.test(blog.image)){%>
                                <div height="10">
                                    <img class="img-fluid card-img-top" src="<%= blog.image %>" alt="Card image cap">
                                </div>

                                <% if(blog.image.naturalHeight <=0){ %>
                                    <div style="height: 5%;">
                                        <img class="card-img-top" src="https://via.placeholder.com/300/09f/fff.png"
                                            alt="Card image cap">
                                    </div>
                                    <% } %>

                                        <%} if(regexVid.test(blog.image)) {%>
                                            <div style="height: 20%;">
                                                <video class="card-img-top" controls>
                                                    <source src="<%= blog.image %>" type="video/mp4">
                                                    <source src="<%= blog.image %>" type="video/ogg">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>


                                            <% } %>
                                                <!-- Card image -->
                                                <!-- Card content -->
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        <%= blog.title %>
                                                    </h4>
                                                    <!--  <p>Owner of post <%= blog.author.username %></p> -->
                                                    <p class="card-text">
                                                        <%= blog.body.substring(0, 100) %>...
                                                    </p>
                                                    <p class="card-text">
                                                        <%= blog.created.toDateString() %>
                                                    </p>
                                                    <div class="col-sm">
                                                        <a href="/blog/<%= blog._id %>"
                                                            class="btn btn-outline-default btn-rounded waves-effect"
                                                            style="border-radius: 50px;">Show blog</a>
                                                    </div>
                                                </div>
                </div>
                <!-- Card content -->
                <!-- Card One-->
                <% }); %>
            </div>
            <% include ../partials/blogsFooter.ejs%>